.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.20;
    height: 100vh;
    background-color: #2d2d2d;
}

.sidebar_top {
    display:flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2d2d2d;
    color: white;
    border-bottom: 3px solid #4d4d4d;
    
}

.sidebar_homepage {
    border-bottom: 3px solid #4d4d4d;
    background-color: #2a2a2a;
    height: 64px;
}

.sidebar_serverList {    
    display: inline-block;
    flex: 1;
    overflow:hidden;
    width: 10vh;

}

.sidebar_servers {
    flex: 0.05;
    background-color: #3b3b3b;
}



.sidebar_channels {
    display: inline-block;
    vertical-align: top;
    align: top;
    flex: 1;

}

.sidebar_addChannel {
    cursor: pointer;
}

.sidebar_addChannel:hover {
    color: white;
}

.sidebar_channelsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2d2d2d;
    color: gray;
}

.sidebar_header{
    display: flex;
    align-items: center;
}

.sidebar_voice, 
.sidebar_profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: #2d2d2d;
    padding: 10px;
    border-top: 1px solid gray;
}

.sidebar_voiceInfo {
    flex: 1;
    padding: 10px;
}

.sidebar_voiceIcon {
    color: #4fb185
}

.sidebar_voiceInfo > h3 {
    color: #4fb185
}

.sidebar_voiceInfo > p {
    size: smaller;
}

.sidebar_voiceIcons > .MuiSvgIcon-root {
    padding: 10px;
}


.sidebar_profileInfo {
    flex: 1;
    padding: 10px;
}


.sidebar_profileInfo > h3 {
    color: white;
}

.sidebar_profileIcons > .MuiSvgIcon-root {
    padding: 10px;
}

