.sidebarChannel:hover > h4 {
    color:white;
}

.sidebarChannel > h4 {
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #2d2d2d;
    color: gray;
    cursor: pointer;
}

.sidebarChannel_hash {
    font-size: 30px;
    padding: 8px;
}